.App-header h1
{
  margin: 0;
}

.ProtocolsListView
{
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 0;
  overflow: auto;
}

.ProtocolsListView .ProtocolListTile
{
  color: #282c34;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  border: 2px solid white;
  border-radius: 0;
  cursor: pointer;
  transition: 300ms;
}

.ProtocolsListView .ProtocolListTile:focus,
.ProtocolsListView .ProtocolListTile:hover
{
  color: white;
  background-color: #282c34;
  outline: none;
}
