.App-header h1
{
  margin: 0;
}

.ProtocolsListView
{
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 0;
  overflow: auto;
}

.ProtocolsListView .ProtocolListTile
{
  color: #282c34;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  border: 2px solid white;
  border-radius: 0;
  cursor: pointer;
  transition: 300ms;
}

.ProtocolsListView .ProtocolListTile.selected
{
  color: white;
  background-color: #282c34;
}

.ProtocolsListView .ProtocolListTile:focus,
.ProtocolsListView .ProtocolListTile:hover
{
  opacity: 0.5;
  outline: none;
}

.ProtocolFields
{
  border: 2px solid white;
}

.ProtocolField
{
  border: 2px solid white;
  display: inline-block;
}

.ProtocolFieldName,
.ProtocolFieldSize
{
  display: grid;
  place-items: center;
  margin: 0;
  padding: 5px;
  height: 50%;
}

.ProtocolFieldName
{
  background-color: seagreen;
}

.ProtocolFieldSize
{
  background-color: steelblue;
}
