.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  padding: 10px;
  color: white;
}

.App-header h1
{
  margin: 0;
}

.ProtocolsListView
{
  list-style: none;
  display: flex;
  gap: 5px;
}

.ProtocolsListView .ProtocolListTile
{
  color: #282c34;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
